<hello name="{{ name }}"></hello>
<div class="container">
  <p>Check complete tutorial on Material button on</p>
  <a
    href="https://furetechnews.com/angular-material-button-color-size-toggle-button/"
    target="_blank"
  >
    Angular material button: Color, Size, toggle button
  </a>
  <section class="raised-button">
    <h2>Raised Button</h2>
    <button mat-raised-button>Button</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="primary">PrimaryC</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
    <a mat-raised-button color="primary">Primary on Anchor tag</a>
  </section>

  <section>
    <h2>Stroked button</h2>
    <div class="example-button-row">
      <button mat-stroked-button>Basic</button>
      <button mat-stroked-button color="primary">Primary</button>
      <button mat-stroked-button color="accent">Accent</button>
      <button mat-stroked-button color="warn">Warn</button>
      <button mat-stroked-button disabled>Disabled</button>
      <a mat-stroked-button href="https://www.google.com/" target="_blank"
        >Link</a
      >
      <button mat-stroked-button style="float: right;">Basic</button>
    </div>
  </section>

  <section>
    <h2>Flat button</h2>
    <div>
      <button mat-flat-button>Basic</button>
      <button mat-flat-button color="primary">Primary</button>
      <button mat-flat-button color="accent">Accent</button>
      <button mat-flat-button color="warn">Warn</button>
      <button mat-flat-button disabled>Disabled</button>
      <a mat-flat-button href="https://www.google.com/" target="_blank">Link</a>
    </div>
  </section>

  <section>
    <h2>Angular Material button Icon</h2>
    <div class="example-button-row">
      <div class="example-flex-container">
        <button mat-icon-button aria-label="">
          <mat-icon>more_vert</mat-icon>
        </button>
        <button mat-icon-button color="primary" aria-label="">
          <mat-icon>home</mat-icon>
        </button>
        <button mat-icon-button color="accent" aria-label="">
          <mat-icon>menu</mat-icon>
        </button>
        <button mat-icon-button color="warn" aria-label="">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button disabled aria-label="">
          <mat-icon>open_in_new</mat-icon>
        </button>
      </div>
    </div>
  </section>

  <section>
    <h2>Angular material button with icon and text</h2>
    <button mat-button><mat-icon>mic</mat-icon> Start Recording</button>
    <br />
    <button mat-raised-button color="accent">
      <mat-icon>mic</mat-icon> Start Recording
    </button>
    <button mat-stroked-button color="accent">
      <mat-icon>mic</mat-icon> Start Recording
    </button>
    <button mat-flat-button color="accent">
      <mat-icon>mic</mat-icon> Start Recording
    </button>
  </section>

  <section>
    <h2>Angular material Fab button</h2>
    <button mat-fab>
      <mat-icon>thumb_up</mat-icon>
    </button>
    <button mat-fab color="primary">
      <mat-icon>thumb_up</mat-icon>
    </button>
    <button mat-fab color="accent">
      <mat-icon>thumb_up</mat-icon>
    </button>
    <button mat-fab color="warn">
      <mat-icon>thumb_up</mat-icon>
    </button>
    <button mat-fab disabled>
      <mat-icon>thumb_up</mat-icon>
    </button>
    <button mat-fab>BTN</button>
    <a mat-fab>LINK</a>
  </section>

  <section>
    <h2>Angular material fab mini</h2>
    <button mat-mini-fab>
      <mat-icon>thumb_up</mat-icon>
    </button>
    <button mat-mini-fab color="primary">
      <mat-icon>thumb_up</mat-icon>
    </button>
    <button mat-mini-fab color="accent">
      <mat-icon>thumb_up</mat-icon>
    </button>
    <button mat-mini-fab color="warn">
      <mat-icon>thumb_up</mat-icon>
    </button>
    <button mat-mini-fab disabled>
      <mat-icon>thumb_up</mat-icon>
    </button>
    <button mat-mini-fab>BTN</button>
    <a mat-mini-fab>LINK</a>
  </section>

  <section class="pull-right" align="end">
    <button mat-stroked-button color="warn">Cancel</button>
    <button mat-stroked-button color="accent">Save</button>
  </section>
</div>
